.sprite{background: url(/css/sprite.gif) no-repeat top left;}
.spriter{background: url(/css/spriter.gif) repeat-x top left;}

.spriter-refine { background-position: 0 0; } 
.spriter-resultf { background-position: 0 -32px; } 
.spriter-resulth { background-position: 0 -65px; } 
.spriter-vintagee { background-position: 0 -98px; } 
.spriter-vintageo { background-position: 0 -127px; }

.sprite-arrowgreen { background-position: 0 0; } 
.sprite-at { background-position: 0 -56px; } 
.sprite-be { background-position: 0 -116px; } 
.sprite-bg { background-position: 0 -176px; } 
.sprite-ca { background-position: 0 -236px; } 
.sprite-ch { background-position: 0 -296px; } 
.sprite-cy { background-position: 0 -356px; } 
.sprite-cz { background-position: 0 -416px; } 
.sprite-de { background-position: 0 -476px; } 
.sprite-dglassdessert { background-position: 0 -536px; } 
.sprite-dglassno { background-position: 0 -668px; } 
.sprite-dglassport { background-position: 0 -800px; } 
.sprite-dglassred { background-position: 0 -932px; } 
.sprite-dglassrose { background-position: 0 -1064px; } 
.sprite-dglasssparkling { background-position: 0 -1196px; } 
.sprite-dglasswhite { background-position: 0 -1328px; } 
.sprite-dk { background-position: 0 -1460px; } 
.sprite-dutch { background-position: 0 -1520px; } 
.sprite-ee { background-position: 0 -1583px; } 
.sprite-en { background-position: 0 -1643px; } 
.sprite-en { background-position: 0 -1703px; } 
.sprite-english { background-position: 0 -1766px; } 
.sprite-es { background-position: 0 -1829px; } 
.sprite-fi { background-position: 0 -1889px; } 
.sprite-fr { background-position: 0 -1949px; } 
.sprite-gb { background-position: -122px 0; } 
.sprite-glassdessert { background-position: -122px -60px; } 
.sprite-glassno { background-position: -122px -192px; } 
.sprite-glassport { background-position: -122px -324px; } 
.sprite-glassred { background-position: -122px -456px; } 
.sprite-glassrose { background-position: -122px -588px; } 
.sprite-glasssparkling { background-position: -122px -720px; } 
.sprite-glasswhite { background-position: -122px -852px; } 
.sprite-gosmall { background-position: -122px -984px; } 
.sprite-gr { background-position: -122px -1062px; } 
.sprite-greengo { background-position: -122px -1122px; } 
.sprite-hu { background-position: -122px -1199px; } 
.sprite-ie { background-position: -122px -1259px; } 
.sprite-it { background-position: -122px -1319px; } 
.sprite-lt { background-position: -122px -1379px; } 
.sprite-lu { background-position: -122px -1439px; } 
.sprite-lv { background-position: -122px -1499px; } 
.sprite-mt { background-position: -122px -1559px; } 
.sprite-nl { background-position: -122px -1619px; } 
.sprite-pl { background-position: -122px -1679px; } 
.sprite-pt { background-position: -122px -1739px; } 
.sprite-refinel { background-position: -122px -1799px; } 
.sprite-refiner { background-position: -122px -1880px; } 
.sprite-resultfl { background-position: -244px 0; } 
.sprite-resultfr { background-position: -244px -82px; } 
.sprite-resulthl { background-position: -244px -164px; } 
.sprite-resulthlstr { background-position: -244px -246px; } 
.sprite-resulthr { background-position: -244px -328px; } 
.sprite-roundauthore { background-position: -244px -410px; } 
.sprite-roundauthoro { background-position: -244px -484px; } 
.sprite-roundrratingee { background-position: -244px -558px; } 
.sprite-roundrratingeo { background-position: -244px -632px; } 
.sprite-roundrratingoe { background-position: -244px -706px; } 
.sprite-roundrratingoo { background-position: -244px -780px; } 
.sprite-roundrvintagee { background-position: -244px -854px; } 
.sprite-roundrvintageo { background-position: -244px -932px; } 
.sprite-roundwine { background-position: -244px -1010px; } 
.sprite-se { background-position: -244px -1132px; } 
.sprite-searchgo { background-position: -244px -1192px; } 
.sprite-si { background-position: -244px -1278px; } 
.sprite-sk { background-position: -244px -1338px; } 
.sprite-sortasc { background-position: -244px -1398px; } 
.sprite-sortdesc { background-position: -244px -1461px; } 
.sprite-us { background-position: -244px -1524px; } 
